<!--{% load static %}-->

<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Registration form</title>-->
<!--    <link rel="stylesheet" type="text/css" href="{% static 'styles/reg.css' %}">-->
<!--</head>-->
<!--<body>-->
<!--<form method='POST' action="{% url 'credential:regis' %}">-->
<!--    {% csrf_token %}-->

<!--    <table align="center">-->
<!--        <caption><h2>Registration form</h2></caption>-->
<!--        <tr>-->
<!--&lt;!&ndash;        <td><label>Name</label></td>&ndash;&gt;-->
<!--            <td><input type="text" name="username" placeholder="Enter your user name"></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--&lt;!&ndash;        <td><label>Name</label></td>&ndash;&gt;-->
<!--            <td><input type="text" name="first_name" placeholder="Enter your first  name"></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--&lt;!&ndash;        <td><label>Name</label></td>&ndash;&gt;-->
<!--            <td><input type="text" name="last_name" placeholder="Enter your last name"></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--&lt;!&ndash;            <td><label>Email</label></td>&ndash;&gt;-->
<!--            <td><input type="email" name="email" placeholder="Enter your email"></td>-->
<!--        </tr>-->


<!--        <tr>-->
<!--&lt;!&ndash;            <td><label>Password</label></td>&ndash;&gt;-->
<!--            <td><input type="password" name="passw" placeholder="Enter a password"></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--&lt;!&ndash;            <td><label>Confirm Password</label></td>&ndash;&gt;-->
<!--            <td><input type="password" name="cpassw" placeholder="Confirm your password"></td>-->
<!--        </tr>-->

<!--        <tr>-->
<!--            <td align="center" colspan="2"><input type="submit" value="Register" class="registerbtn"></td>-->
<!--        </tr>-->
<!--    </table>-->


<!--</form>-->
<!--{% for msg in messages %}-->
<!--{{ msg }}-->
<!--{% endfor %}-->

<!--</body>-->
<!--</html>-->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

<title>Register</title>
<link rel="stylesheet" type="text/css" href="{% static 'styles/log.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


</head>
<body>
	<section class="login">
		<div class="login_box">
			<div class="left">

				<div class="contact">
					<form  method="post" action="{% url 'credential:regis' %}">
                      {% csrf_token %}
                        <input type="text" name="username" placeholder="Enter your username">
                        <input type="text" name="first_name" placeholder="Enter your first  name">
                        <input type="text" name="last_name" placeholder="Enter your last name">
                        <input type="email" name="email" placeholder="Enter your email">
						<input type="password" name="passw" placeholder="Enter a password">
                        <input type="password" name="cpassw" placeholder="Confirm your password">
						<button class="submit">REGISTER</button>
                        <p>Do  you have an account? <a href="{% url 'credential:login' %}">Login</a></p>
					</form>
				</div>
			</div>
			<div class="right">
				<div class="right-text">
					<h2>REGISTER</h2>

				</div>
				<div class="right-inductor"><img src="https://lh3.googleusercontent.com/fife/ABSRlIoGiXn2r0SBm7bjFHea6iCUOyY0N2SrvhNUT-orJfyGNRSMO2vfqar3R-xs5Z4xbeqYwrEMq2FXKGXm-l_H6QAlwCBk9uceKBfG-FjacfftM0WM_aoUC_oxRSXXYspQE3tCMHGvMBlb2K1NAdU6qWv3VAQAPdCo8VwTgdnyWv08CmeZ8hX_6Ty8FzetXYKnfXb0CTEFQOVF4p3R58LksVUd73FU6564OsrJt918LPEwqIPAPQ4dMgiH73sgLXnDndUDCdLSDHMSirr4uUaqbiWQq-X1SNdkh-3jzjhW4keeNt1TgQHSrzW3maYO3ryueQzYoMEhts8MP8HH5gs2NkCar9cr_guunglU7Zqaede4cLFhsCZWBLVHY4cKHgk8SzfH_0Rn3St2AQen9MaiT38L5QXsaq6zFMuGiT8M2Md50eS0JdRTdlWLJApbgAUqI3zltUXce-MaCrDtp_UiI6x3IR4fEZiCo0XDyoAesFjXZg9cIuSsLTiKkSAGzzledJU3crgSHjAIycQN2PH2_dBIa3ibAJLphqq6zLh0qiQn_dHh83ru2y7MgxRU85ithgjdIk3PgplREbW9_PLv5j9juYc1WXFNW9ML80UlTaC9D2rP3i80zESJJY56faKsA5GVCIFiUtc3EewSM_C0bkJSMiobIWiXFz7pMcadgZlweUdjBcjvaepHBe8wou0ZtDM9TKom0hs_nx_AKy0dnXGNWI1qftTjAg=w1920-h979-ft" alt=""></div>
			</div>
		</div>
	</section>
{% for msg in messages %}-->
{{ msg }}
{% endfor %}
</body>
</html>